In [2]:
import numpy as np 
import pandas as pd 
import os

In [3]:
movies=pd.read_csv("./tmdb_5000_movies.csv")

In [4]:
credits=pd.read_csv("./tmdb_5000_credits.csv")

In [5]:
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3486,0,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 18, ""...",http://www.goddessoflovemovie.com/,347764,[],en,Goddess of Love,Enter into a baroque vortex of madness when an...,1.273773,"[{""name"": ""Dalia Films"", ""id"": 72861}]","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2015-08-31,0,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Be Careful Who You Get Close To,Goddess of Love,6.2,9
584,0,"[{""id"": 14, ""name"": ""Fantasy""}]",NaN,10395,"[{""id"": 596, ""name"": ""adultery""}, {""id"": 2499,...",en,Wolf,Publisher Will Randall becomes a werewolf and ...,13.758526,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-06-17,0,125.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The animal is out.,Wolf,6.0,216
2776,13000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://perks-of-being-a-wallflower.com/,84892,"[{""id"": 367, ""name"": ""shyness""}, {""id"": 1328, ...",en,The Perks of Being a Wallflower,A coming-of-age story based on the best-sellin...,43.444135,"[{""name"": ""Summit Entertainment"", ""id"": 491}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-09-20,33400000,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,We are infinite.,The Perks of Being a Wallflower,7.7,2968
4141,2000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,11302,"[{""id"": 2020, ""name"": ""revolution""}, {""id"": 23...",en,Bananas,When a bumbling New Yorker is dumped by his ac...,5.941852,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1971-04-28,11833696,82.0,"[{""iso_639_1"": ""yi"", ""name"": """"}, {""iso_639_1""...",Released,NaN,Bananas,6.7,165
2068,9000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.deathatafuneral-themovie.com/,2196,"[{""id"": 380, ""name"": ""brother brother relation...",en,Death at a Funeral,Chaos ensues when a man tries to expose a dark...,20.410354,"[{""name"": ""Sidney Kimmel Entertainment"", ""id"":...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2007-02-09,46,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,From director Frank Oz comes the story of a fa...,Death at a Funeral,6.9,497

In [6]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [7]:
movies['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4803, dtype: object

In [8]:
credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [9]:
credits.sample(5)

,movie_id,title,cast,crew
3312,1691,Hostel: Part II,"[{""cast_id"": 13, ""character"": ""Beth"", ""credit_...","[{""credit_id"": ""595e5038c3a3680dec05e5d7"", ""de..."
1786,1551,Flatliners,"[{""cast_id"": 1, ""character"": ""Nelson"", ""credit...","[{""credit_id"": ""564888e09251413e7f006ed4"", ""de..."
2741,9644,National Lampoon's Loaded Weapon 1,"[{""cast_id"": 12, ""character"": ""Sgt. Jack Colt""...","[{""credit_id"": ""52fe4515c3a36847f80bb8c9"", ""de..."
4521,14271,Beyond the Mat,"[{""cast_id"": 1, ""character"": ""Himself"", ""credi...","[{""credit_id"": ""58d5ec49c3a368127c03493c"", ""de..."
2591,37003,U2 3D,"[{""cast_id"": 0, ""character"": ""Himself"", ""credi...","[{""credit_id"": ""57bfd2089251414b1500001e"", ""de..."

In [10]:
data=movies.merge(credits,on='title')
data

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [11]:
data.shape

(4809, 23)

In [12]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [14]:
data=data[['movie_id','title','genres','keywords','overview','popularity','cast','crew']]

In [15]:
data

,movie_id,title,genres,keywords,overview,popularity,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,107.376788,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,112.312950,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",43.926995,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...,14.269792,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],A newlywed couple's honeymoon is upended by th...,0.642552,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,[],[],When ambitious New York attorney Sam is sent t...,0.857008,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...,1.929883,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [16]:
data.isnull().mean()

movie_id      0.000000
title         0.000000
genres        0.000000
keywords      0.000000
overview      0.000624
popularity    0.000000
cast          0.000000
crew          0.000000
dtype: float64

In [17]:
data.dropna(inplace=True)

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1368182302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

In [18]:
import ast
ast.literal_eval(data['cast'][0])[0]

{'cast_id': 242,
 'character': 'Jake Sully',
 'credit_id': '5602a8a7c3a3685532001c9a',
 'gender': 2,
 'id': 65731,
 'name': 'Sam Worthington',
 'order': 0}

In [19]:
import ast
def convert(obj):
    name=[]
    obj=ast.literal_eval(obj)
    for i in obj:
        name.append(i['name'])
    return name

In [20]:
data['genres']=data['genres'].apply(convert)

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\2000562079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres']=data['genres'].apply(convert)

In [21]:
data['keywords']=data['keywords'].apply(convert)

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\2280138419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['keywords']=data['keywords'].apply(convert)

In [22]:
def convert1(obj):
    name=[]
    counter=0
    obj=ast.literal_eval(obj)
    for i in obj:
        if counter !=3:
            name.append(i['name'])
            counter+=1
        else:
            break
    return name

In [23]:
data['cast']=data['cast'].apply(convert1)

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\3620725859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cast']=data['cast'].apply(convert1)

In [24]:
data['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [25]:
data.sample(5)

,movie_id,title,genres,keywords,overview,popularity,cast,crew
4643,32222,American Desi,"[Drama, Comedy, Romance]","[tradition, indian lead, roommate, culture cla...",This is a fun-loving romantic comedy reminisce...,0.126304,"[Kal Penn, Purva Bedi, Deep Katdare]","[{""credit_id"": ""57fd2ab3c3a3681b91000b83"", ""de..."
1387,39486,Secretariat,[Drama],"[horse race, horseback riding, biography]",Housewife and mother Penny Chenery agrees to t...,9.525037,"[Diane Lane, John Malkovich, Scott Glenn]","[{""credit_id"": ""52fe471e9251416c9106a99f"", ""de..."
2948,11184,Kinsey,[Drama],"[free love, sex, sexuality, indiana, professor...",Kinsey is a portrait of researcher Alfred Kins...,6.799314,"[Liam Neeson, Laura Linney, Chris O'Donnell]","[{""credit_id"": ""52fe440a9251416c75026e39"", ""de..."
3750,451,Leaving Las Vegas,"[Drama, Romance]","[individual, prostitute, alcohol, casino, love...","Ben Sanderson, an alcoholic Hollywood screenwr...",22.030517,"[Nicolas Cage, Elisabeth Shue, Julian Sands]","[{""credit_id"": ""52fe4245c3a36847f80111c3"", ""de..."
4178,33511,Nowhere Boy,[Drama],"[musician, musical, biography, teenager, dark ...",The drama tells the story of Lennon's teenage ...,1.950959,"[Aaron Taylor-Johnson, Anne-Marie Duff, Kristi...","[{""credit_id"": ""59486b2cc3a36811150348b2"", ""de..."

In [26]:
def covert2(obj):
    name=[]
    obj=ast.literal_eval(obj)
    for i in obj:
        if i['job']=='Director':
            name.append(i['name'])
            break

    return name

In [27]:
data['crew']=data['crew'].apply(covert2)

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1860384235.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crew']=data['crew'].apply(covert2)

In [28]:
data['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [29]:
data['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [30]:
data['overview']=data['overview'].apply(lambda x:x.split())
data['overview']

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\2762416482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['overview']=data['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [31]:
data['genres']=data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
data['keywords']=data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
data['cast']=data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
data['crew']=data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1569426927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres']=data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1569426927.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['keywords']=data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1569426927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cast']=data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1569426927.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crew']=data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [32]:
data.sample(5)

,movie_id,title,genres,keywords,overview,popularity,cast,crew
171,8619,Master and Commander: The Far Side of the World,[Adventure],"[naturalist, frigate, selfsurgery, seabattle, ...","[After, an, abrupt, and, violent, encounter, w...",36.973031,"[RussellCrowe, PaulBettany, JamesD'Arcy]",[PeterWeir]
2490,1090,The Thirteenth Floor,"[Thriller, ScienceFiction, Mystery]","[artificialintelligence, simulation, computerp...","[Computer, scientist, Hannon, Fuller, has, dis...",19.890428,"[CraigBierko, ArminMueller-Stahl, GretchenMol]",[JosefRusnak]
2392,69848,One Man's Hero,"[Western, Action, Drama, History]","[war, army, battlefield, chivalry]","[One, Man's, Hero, tells, the, little-known, s...",0.910529,"[TomBerenger, JoaquimdeAlmeida, DanielaRomo]",[LanceHool]
4570,94072,Straight Out of Brooklyn,[Drama],[],"[A, Special, Jury, Award, winner, at, the, Sun...",0.161517,[],[MattyRich]
1925,133698,Fly Me to the Moon,"[Comedy, Romance]",[],"[Successful, woman, in, love, tries, to, break...",11.609210,"[DianeKruger, DanyBoon, AlicePol]",[PascalChaumeil]

In [33]:
data['tags']=data['overview']+data['keywords']+data['genres']+data['cast']+data['crew']

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1391481679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags']=data['overview']+data['keywords']+data['genres']+data['cast']+data['crew']

In [34]:
data.sample()

,movie_id,title,genres,keywords,overview,popularity,cast,crew,tags
1505,55721,Bridesmaids,"[Comedy, Romance]","[competition, jealousy, fight, materialism, br...","[Annie’s, life, is, a, mess., But, when, she, ...",17.107065,"[KristenWiig, RoseByrne, MayaRudolph]",[PaulFeig],"[Annie’s, life, is, a, mess., But, when, she, ..."

In [35]:
n_data=data[['movie_id','title','tags','popularity']]
n_data.sample(3)

,movie_id,title,tags,popularity
4713,50497,When the Lights Went Out,"[Yorkshire,, 1974,, the, Maynard, family, move...",2.805351
4542,84318,The Other Dream Team,"[The, incredible, story, of, the, 1992, Lithua...",0.388401
784,2312,In the Name of the King: A Dungeon Siege Tale,"[A, man, named, Farmer, sets, out, to, rescue,...",15.406173

In [36]:
n_data['tags']=n_data['tags'].apply(lambda x:" ".join(x))
n_data['tags']=n_data['tags'].apply(lambda x: x.lower())

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1883738183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_data['tags']=n_data['tags'].apply(lambda x:" ".join(x))
C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\1883738183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_data['tags']=n_data['tags'].apply(lambda x: x.lower())

In [37]:
n_data.sample(3)

,movie_id,title,tags,popularity
1353,10219,Snow Falling on Cedars,a japanese-american fisherman may have killed ...,2.794830
3902,158015,The Purge,"given the country's overcrowded prisons, the u...",54.403033
2431,16028,They,after witnessing a horrific and traumatic even...,4.544216

In [38]:
n_data.shape

(4806, 4)

In [39]:
n_data.drop_duplicates()

,movie_id,title,tags,popularity
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di...",150.437577
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha...",139.082615
2,206647,Spectre,a cryptic message from bond’s past sends him o...,107.376788
3,49026,The Dark Knight Rises,following the death of district attorney harve...,112.312950
4,49529,John Carter,"john carter is a war-weary, former military ca...",43.926995
...,...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...,14.269792
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...,0.642552
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic...",1.444476
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...,0.857008
4808,25975,My Date with Drew,ever since the second grade when he first saw ...,1.929883

In [40]:
n_data.shape

(4806, 4)

In [41]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [42]:
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [43]:
n_data['tags']=n_data['tags'].apply(stem)
n_data['tags']

C:\Users\aakas\AppData\Local\Temp\ipykernel_1564\4062973674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_data['tags']=n_data['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [44]:
#Text vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [45]:
n_data['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron'

In [46]:
vectors=cv.fit_transform(n_data['tags']).toarray()

In [47]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [49]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [50]:
similarity.shape

(4806, 4806)

In [51]:
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [52]:
similarity[0].shape

(4806,)

In [66]:
def recommend(movie):
    movie_idx=n_data[n_data['title']==movie].index[0]
    popular=n_data['popularity'][movie_idx]
    distances=similarity[movie_idx]
    movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:]
    #print(movie_list)
    flag=0
    for i in movie_list:
        
        p=n_data['popularity'][i[0]]
        if(p>=popular):
            print(n_data['title'][i[0]])
            flag+=1
        if(flag==6):
            break

In [67]:
recommend('John Carter')

Riddick
Battleship
Chappie
Journey to the Center of the Earth
The Amazing Spider-Man
The Truman Show

In [55]:
import pickle

In [60]:
pickle.dump(n_data.to_dict(),open('movies_dict.pkl','wb'))

In [61]:
n_data

,movie_id,title,tags,popularity
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...",150.437577
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c...",139.082615
2,206647,Spectre,a cryptic messag from bond’ past send him on a...,107.376788
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...,112.312950
4,49529,John Carter,"john carter is a war-weary, former militari ca...",43.926995
...,...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...,14.269792
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...,0.642552
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q...",1.444476
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...,0.857008
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...,1.929883

In [62]:
n_data['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [63]:
pickle.dump(similarity,open('simi.pkl','wb'))